Package: com.shinvou.stepper
Name: Stepper
Depends: mobilesubstrate, cc.tweak.libobjcipc, libhide, preferenceloader
Version: 1.1
Architecture: iphoneos-arm
Description: Stepper. Vrooom!
Author: Timm Kandziora
Section: Tweaks
